.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  /* 使输入栏和按钮居中 */
}

.head {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  /* 設置寬度為80% */
}

.input-group .form-control {
  flex: 1;
  /* 讓輸入框佔據剩餘空間 */
  margin-right: 5px;
  /* 給輸入框和圖標之間留一些間距 */
}

.input-group-addon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  /* 給圖標一些填充 */
}

.input-group input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #a9c6e6;
  border-radius: 4px;
  width: 200px;
}

table {
  width: 80%;
  /* 調整表格寬度 */
  margin: 0 auto;
  /* 將表格置中 */
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  /* 添加表格邊框線條 */
  font-size: 25px;
  line-height: 320%;
}

th {
  background-color: #f2f2f2;
  width: 40%;
  /* 調整左欄寬度 */

}

td {
  width: 60%;
  /* 調整右欄寬度 */
}

/* 將第一欄文字右對齊 */
.left-column {
  text-align: center;
}

#nutrition-table-container {
  height: 50%;
  overflow: auto;
  /* 如果內容溢出，添加滾動條 */
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #f7f7f8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}