.frame {
    display: flex;
    /*按鈕水平排列*/
    height: 30vh;
}

.membership {
    display: flex;
    height: 10vh;
}

.icon-button {
    display: flex;
    flex-direction: column;
    /* 將元素垂直排列 */
    align-items: center;
    /* 水平居中對齊 */
    width: 90%;
    /* 佔據網頁寬度的90% */
}

.icon-button svg {
    width: 30vh;
    /* 圖示寬度 */
    height: 30vh;
    /* 圖示高度 */
}

.icon-button span {
    font-size: 14px;
    /* 文字大小 */
    margin-top: 4px;
    /* 文字與圖示之間的間距 */
}