body{
    background-size: cover;
}
.frame{
    display: flex; /*讓下一層次水平排列*/
}

.headline1{
    text-align: left;
    color: rgb(130, 139, 139,0.986);
    padding-left: 5%;
    margin-top: 2%;
}
.headline2{
    text-align: left;
    color: rgb(69, 71, 71);
    padding-left: 10%;
}


.choice{
    margin-left: 23%;
    font-size: 100px;
    font-family:cursive;
    text-shadow:#46A3FF 5px 5px;;
}

/* .btn{
    margin-left: 92%;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
} */

.tooltip-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    margin-left: 80%;
}

.tooltip-button img {
    width: 80px; /* 调整大小 */
    height: 70px;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* 将提示文字放置在按钮上方 */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}