<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Title</title>
    </head>

    <script type="text/javascript">

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        function searchCourse(element){
            branch = document.getElementById("branch").value;
            course = document.getElementById("course").value;


            const urlParams = new URLSearchParams(window.location.search);

            urlParams.set('branch', branch);

            urlParams.set('course', course)
            
            window.location.search = urlParams;

        }

        window.onload = function() {
            const branch = getParameterByName('branch');
            const course = getParameterByName('course');

            document.getElementById('branch').value = branch? branch : "新店";
            document.getElementById('course').value = course? course : "飛輪15:00-17:00"
        };

    </script>

    <body>
        <h1>Course</h1>

        <a href="/">Back</a>

        <div>
            <table>
                <tr>
                    <th>Branch</th>
                    <th>Course</th>
                </tr>
                <tr>
                    <td>
                        <select id="branch" onchange="searchCourse(this)">
                            <option value="新店">新店</option>
                            <option value="文山">文山</option>
                            <?branchOptions?>
                        </select>
                    </td>
                    <td>
                        <select id="course" onchange="searchCourse(this)">
                            <option value="飛輪13:00-15:00">飛輪13:00-15:00</option>
                            <option value="飛輪15:00-17:00">飛輪15:00-17:00</option>
                            <?courseOptions?>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>