<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DietRecord</title>
  <link rel="stylesheet" type="text/css" href="/static/css/diet_record.css" />
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
    rel="stylesheet" />
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
</head>

<body>
  </div>
  <div class="header">
    <button onclick="back()" class="back-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
      </svg>
      回上頁
    </button>
    <div class="headline">D I E T</div>
  </div>
  <div class="head">選擇日期：</div>
  <form action="/record/diet/search" method="POST">
    <div class="frame">
      <div class="input-group date" id='date1'>
        <input type="text" class="form-control" name="date" />
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-calendar"></i>
        </span>
      </div>
      <div>
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </button>
      </div>
    </div>
  </form>
  <div>
    <div id="nutrition-table-container">
      <table>
        <tr>
          <th class="left-column">總熱量(kcal)</th>
          <td class="right-column">{{calary}}</td>
        </tr>
        <tr>
          <th class="left-column">蛋白質(g)</th>
          <td class="right-column">{{protein}}</td>
        </tr>
        <tr>
          <th class="left-column">碳水化合物(g)</th>
          <td class="right-column">{{carbon}}</td>
        </tr>
        <tr>
          <th class="left-column">脂肪(g)</th>
          <td class="right-column">{{fath}}</td>
        </tr>
        <tr>
          <th class="left-column">水(ml)</th>
          <td class="right-column">{{waterh}}</td>
        </tr>
      </table>
    </div>

    <script>
      $('#date1').datetimepicker({
        date: null, //一開始輸入框的日期為空
        format: 'YYYY-MM-DD', //日期的顯示格式
        locale: moment.locale('zh-tw'), //國別
      });

      function Search() {
        window.location.href = '/record/diet/search';
      }
      function back() {
        window.location.href = "/record";
      }
    </script>
    <img src="/static/toast.png" alt="Description of image" class="top-left-image">
    <img src="/static/coffee.png" alt="Description of image" class="top-right-image">


</body>

</html>