<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Title</title>
    </head>

    <script type="text/javascript">

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        function searchEquipment(element){
            branch = document.getElementById("branch").value;
            trainingArea = document.getElementById("trainingArea").value;


            const urlParams = new URLSearchParams(window.location.search);

            urlParams.set('branch', branch);

            urlParams.set('trainingArea', trainingArea)
            
            window.location.search = urlParams;

        }

        window.onload = function() {
            const branch = getParameterByName('branch');
            const trainingArea = getParameterByName('trainingArea');

            document.getElementById('branch').value = branch? branch : "新店";
            document.getElementById('trainingArea').value = trainingArea? trainingArea : "胸"
        };

    </script>

    <body>
        <h1>Equipment</h1>

        <a href="/">Back</a>

        <div>
            <table>
                <tr>
                    <th>Branch</th>
                    <th>Training Area</th>
                </tr>
                <tr>
                    <td>
                        <select id="branch" onchange="searchEquipment(this)">
                            <
                            <?branchOptions?>
                        </select>
                    </td>
                    <td>
                        <select id="trainingArea" onchange="searchEquipment(this)">
                           
                            <?equipmentOptions?>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>