<!DOCTYPE html>
<html>

<head>
    <title>登入頁面</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="header-container">
        <h1>健人就是繳錢</h1>
        <div class="button-container">
            <button id="loginBtn">LOGIN</button>
            <button id="registerBtn">REGISTER</button>
        </div>
    </div>

    <!-- 登入modal -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>LOGIN PAGE</h2>
            <form action="/home" method="post">
                <label for="username">USER ID</label>
                <input type="text" id="user-id" name="login_ID" required>
                <label for="password">PASSWORD</label>
                <input type="password" id="password" name="login_ps" required>
                <button type="submit">LOGIN</button>
            </form>
        </div>
    </div>

    <!-- 註冊modal -->
    <div id="registerModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>REGISTER PAGE</h2>
            <form action="/register" method="post">
                <label for="user-id">USER ID</label>
                <input type="text" id="user-id" name="regis_ID" required>
                <label for="new-username">USER NAME</label>
                <input type="text" id="new-username" name="name" required>
                <label for="new-password">PASSWORD</label>
                <input type="password" id="new-password" name="regis_ps" required>
                <label for="confirm-password">COMFIRM PASSWORD</label>
                <input type="password" id="confirm-password" name="confirm_ps" required>
                <div class="form-row">
                    <div>
                        <label for="gender">GENDER</label>
                        <select id="gender" name="gender">
                            <option value="">CHOOSE</option>
                            <option value="male">MALE</option>
                            <option value="female">FEMALE</option>
                        </select>
                    </div>
                    <div>
                        <label for="height">HEIGHT(cm)</label>
                        <input type="number" id="height" name="height" required>
                    </div>
                    <div>
                        <label for="weight">WEIGHT(kg)</label>
                        <input type="number" id="weight" name="weight" required>
                    </div>
                </div>
                <button type="submit">REGISTER</button>
            </form>
        </div>
    </div>

    <!-- 註冊成功模態視窗 -->
    <div id="registerSuccessModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>REGISTER SUCCESSFULLY</h2>
            <p>START WORKOUT!</p>
        </div>
    </div>

    <!-- 註冊失敗模態視窗 -->
    <div id="registerFailModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>REGISTER UNDONE</h2>
            <p>PLEASE TRY AGAIN！</p>
        </div>
    </div>

    <script src="/static/index.js"></script>
</body>

</html>