<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>運動菜單(條件輸入)</title>
        <link rel="stylesheet" type="text/css" href="/static/css/plan02-exercise.css"/>
    </head>
    <body>
        <div class="headline"> >  >  訓 練 目 標  <  < </div>
        <div class="select-box">目標天數 
            <select name="days">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </div>
        <div class="select-box">訓練部位
            <select name="area">
                <option value="1">胸</option>
                <option value="2">肩</option>
                <option value="3">背</option>
                <option value="4">腿</option>
            </select>
        </div>
        <div class="select-box">訓練強度 
            <select name="days">
                <option value="1">強</option>
                <option value="2">中</option>
                <option value="3">輕</option>
            </select>
        </div>
        <div class="button-container">
            <a href="C:\Users\alex9\OneDrive\桌面\Front_End\期末專案\plan03-exercise.html" class="tooltip-button">
                <img src="/static/hand-in.jpeg">
                <span class="tooltip-text">製作專屬菜單</span>
                <span class="completion-text">輸入完成</span>
            </a>
        </div> 

    </body>
</html>