<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>運動菜單完成</title>
    <link rel="stylesheet" type="text/css" href="/static/css/plan03-exercise.css" />
</head>

<body>
    <div class="header">
        <button onclick="back()" class="back-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
            回上頁
        </button>
        <div class="headline">Training List</div>
    </div>
    <div class="container">
        {% for day in range(1, days + 1) %}
            <div class="table-container">
                <div class="day-keyword">Day {{ day }}</div>
                <table>
                    <thead>
                        <tr>
                            <th>健身項目 / 器材</th>
                            <th>訓練部位</th>
                            <th>單位</th>
                            <th>組數</th>
                            <th>完成</th>
                            <th>編輯</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if day in selected_plan %}
                            {% for exercise in selected_plan[day] %}
                                <tr>
                                    <td>{{ exercise.exercise }}</td>
                                    <td>{{ exercise.muscle_group }}</td>
                                    <td><input class="input" id="weight-{{ exercise.plan_id }}" value="{{ exercise.weight }}"></td>
                                    <td><input class="input" id="set-{{ exercise.plan_id }}" value="{{ exercise.set_value }}"></td>                     
                                    <td>
                                        <button class="status-button {{ 'completed' if exercise.status == 'Done' else ''}}"
                                                data-plan-id="{{ exercise.plan_id }}"
                                                data-status="{{ exercise.status }}"
                                                onclick="updateStatus(this)">{{ '已完成' if exercise.status == 'Done' else '未完成' }}</button>
                                    </td>
                                    <td>
                                        <button class="edit-button"
                                                data-plan-id="{{ exercise.plan_id }}"
                                                onclick="edit(this)">修改菜單</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">No exercises for this day</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="button-container">
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        function back() {
            window.location.href = "/plan";
        }
        function updateStatus(button) {
            const planId = button.getAttribute('data-plan-id');
            const currentStatus = button.getAttribute('data-status');
            const newStatus = currentStatus === 'Done' ? 'Not Done' : 'Done';

            // 發送Ajax請求到後端更新狀態
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/update_status', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // 更新按鈕狀態
                    button.setAttribute('data-status', newStatus);
                    button.textContent = newStatus === 'Done' ? '已完成' : '未完成';
                    button.classList.toggle('completed');
                }
            };
            const data = JSON.stringify({ plan_id: planId });
            xhr.send(data);
        }
        function edit(button) {
            const planID = button.getAttribute('data-plan-id');
            const weight = document.getElementById(`weight-${planID}`).value;
            const set = document.getElementById(`set-${planID}`).value;

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/update_plan', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            const data = JSON.stringify({ plan_id: planID, weight: weight, set: set });
            xhr.send(data);

            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        alert('菜單成功更新');
                        // 可以在這裡添加成功提示或其他處理
                    } 
                }
            };
        }
    </script>
</body>

</html>