<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>運動菜單完成</title>
    <link rel="stylesheet" type="text/css" href="/static/css/plan03-exercise.css"/>
</head>
<body>
    <div class="header">
        <button onclick="back()" class="back-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
            回上頁
        </button>
        <div class="headline">Training List</div>
    </div>
    <div class="container">
        {% for day in range(1, days + 1) %}
            <div class="table-container">
                <div class="day-keyword">Day {{ day }}</div>
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Training Area</th>
                            <th>Weight (kg)</th>
                            <th>Sets</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if day in selected_plan %}
                            {% for exercise in selected_plan[day] %}
                                <tr>
                                    <td>{{ exercise.exercise }}</td>
                                    <td>{{ exercise.muscle_group }}</td>
                                    <td><input type="number" value="12"></td>
                                    <td>
                                        <input type="number" value="{{ exercise.set_value }}" class="times-input">
                                    </td>
                                    <td>
                                        <button class="status-button {{ 'completed' if exercise.status == 'Done' else ''}}"
                                                data-plan-id="{{ exercise.plan_id }}"
                                                data-status="{{ exercise.status }}"
                                                onclick="updateStatus(this)">{{ '已完成' if exercise.status == 'Done' else '未完成' }}</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">No exercises for this day</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="button-container">
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        function back() {
            window.location.href = "/plan";
        }
        function updateStatus(button) {
            const planId = button.getAttribute('data-plan-id');
            const currentStatus = button.getAttribute('data-status');
            const newStatus = currentStatus === 'Done' ? 'Not Done' : 'Done';

            // 發送Ajax請求到後端更新狀態
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/update_status', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // 更新按鈕狀態
                    button.setAttribute('data-status', newStatus);
                    button.textContent = newStatus === 'Done' ? '已完成' : '未完成';
                    button.classList.toggle('completed');
                }
            };
            const data = JSON.stringify({ plan_id: planId });
            xhr.send(data);
        }
    </script>
</body>
</html>
