<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>運動菜單完成</title>
    <link rel="stylesheet" type="text/css" href="/static/css/plan03-exercise.css"/>
</head>
<body>
    <div class="header">
        <button onclick="history.back()" class="back-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
            回上頁
        </button>
        <div class="headline">DISH CHOICE</div>
    </div>
    <div class="container">
        <div class="table-container">
            <div class="day-keyword">Day 1</div>
            <table>
                <thead>
                    <tr>
                        <th>Equipment</th>
                        <th>Weight (kg)</th>
                        <th>Times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Equipment 1</td>
                        <td><input type="number" value="12"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 2</td>
                        <td><input type="number" value="15"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 3</td>
                        <td><input type="number" value="20"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 4</td>
                        <td><input type="number" value="25"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button-container">
                <button id="toggleButton" class="status-button">未完成</button>
            </div>
        </div>
        <!-- Repeat the above table-container block for the remaining 6 tables -->
        <div class="table-container">
            <div class="day-keyword">Day 2</div>
            <table>
                <thead>
                    <tr>
                        <th>Equipment</th>
                        <th>Weight (kg)</th>
                        <th>Times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Equipment 1</td>
                        <td><input type="number" value="12"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 2</td>
                        <td><input type="number" value="15"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 3</td>
                        <td><input type="number" value="20"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 4</td>
                        <td><input type="number" value="25"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button-container">
                <button id="toggleButton" class="status-button">未完成</button>
            </div>
        </div>
        <div class="table-container">
            <table>
                <div class="day-keyword">Day 3</div>
                <thead>
                    <tr>
                        <th>Equipment</th>
                        <th>Weight (kg)</th>
                        <th>Times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Equipment 1</td>
                        <td><input type="number" value="12"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 2</td>
                        <td><input type="number" value="15"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 3</td>
                        <td><input type="number" value="20"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 4</td>
                        <td><input type="number" value="25"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button-container">
                <button id="toggleButton" class="status-button">未完成</button>
            </div>
        </div>
        <div class="table-container">
            <table>
                <div class="day-keyword">Day 4</div>
                <thead>
                    <tr>
                        <th>Equipment</th>
                        <th>Weight (kg)</th>
                        <th>Times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Equipment 1</td>
                        <td><input type="number" value="12"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 2</td>
                        <td><input type="number" value="15"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 3</td>
                        <td><input type="number" value="20"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 4</td>
                        <td><input type="number" value="25"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button-container">
                <button id="toggleButton" class="status-button">未完成</button>
            </div>
        </div>
        <div class="table-container">
            <table>
                <div class="day-keyword">Day 5</div>
                <thead>
                    <tr>
                        <th>Equipment</th>
                        <th>Weight (kg)</th>
                        <th>Times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Equipment 1</td>
                        <td><input type="number" value="12"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 2</td>
                        <td><input type="number" value="15"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 3</td>
                        <td><input type="number" value="20"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 4</td>
                        <td><input type="number" value="25"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button-container">
                <button id="toggleButton" class="status-button">未完成</button>
            </div>
        </div>
        <div class="table-container">
            <table>
                <div class="day-keyword">Day 6</div>
                <thead>
                    <tr>
                        <th>Equipment</th>
                        <th>Weight (kg)</th>
                        <th>Times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Equipment 1</td>
                        <td><input type="number" value="12"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 2</td>
                        <td><input type="number" value="15"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 3</td>
                        <td><input type="number" value="20"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 4</td>
                        <td><input type="number" value="25"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button-container">
                <button id="toggleButton" class="status-button">未完成</button>
            </div>
        </div>
        <div class="table-container">
            <table>
                <div class="day-keyword">Day 7</div>
                <thead>
                    <tr>
                        <th>Equipment</th>
                        <th>Weight (kg)</th>
                        <th>Times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Equipment 1</td>
                        <td><input type="number" value="12"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 2</td>
                        <td><input type="number" value="15"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 3</td>
                        <td><input type="number" value="20"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment 4</td>
                        <td><input type="number" value="25"></td>
                        <td>
                            <input type="number" value="4" class="times-input">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button-container">
                <button id="toggleButton" class="status-button">未完成</button>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll('.status-button').forEach(button => {
            button.addEventListener('click', function() {
                if (button.classList.contains('completed')) {
                    button.classList.remove('completed');
                    button.textContent = '未完成';
                } else {
                    button.classList.add('completed');
                    button.textContent = '已完成';
                }
            });
        });
    </script>
</body>
</html>
