<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>菜單(首)</title>
        <link rel="stylesheet" type="text/css" href="/static/css/plan01.css"/>
    </head>
    <body background="/static/健身choice.png">
        <div>
            <h3 class="headline1">人，會因為變老而停止鍛鍊</h3>
            <h3 class="headline2">不會因為變老而停止鍛鍊</h3>
            <div class="choice">EXERCISE . .</div>
            <div class="button-container">
                <a href="plan02-exercise.html" class="tooltip-button">
                    <img src="/static/箭頭.png" alt="Arrow">
                    <span class="tooltip-text">製作健身菜單</span>
                </a>
            </div> 
        </div>
        <div>
            <h3 class="headline1">人，要追求豐富多彩的飲食</h3>
            <h3 class="headline2">而非因各種原因而自我設限</h3>
            <div class="choice">NUTRITION . .</div>
            <div class="button-container">
                <a href="plan02-food.html" class="tooltip-button">
                    <img src="/static/箭頭.png" alt="Arrow">
                    <span class="tooltip-text">製作飲食菜單</span>
                </a>
            </div> 
        </div>
    </body>
</html>