<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>運動菜單(條件輸入)</title>
    <link rel="stylesheet" type="text/css" href="/static/css/plan02-exercise.css" />
    <script>
        function back() {
            window.location.href = "/plan";
        }
    </script>
</head>
<body>
   
    <div class="container">
        <div class="headline">T R A I N I N G</div>
        <div class="headline">O B J.</div>
        <form action="/plan/workout" method="POST"> <!-- 增加 form 標籤 -->
            <div class="select-box">目標天數
                <select name="days">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
            </div>
            <!--增加訓練部位-->
            <div class="select-box">訓練部位
                <select name="training_area">
                    <option value="胸肌">胸肌</option>
                    <option value="肩膀">肩膀</option>
                    <option value="腹肌">腹部</option>
                    <option value="二頭肌">二頭肌</option>
                    <option value="三頭肌">三頭肌</option>
                    <option value="背部">背部</option>
                    <option value="腿部">腿部</option>
                    <option value="臀部">臀部</option>
                </select>
            </div>
            <div class="select-box">訓練強度
                <select name="intensity">
                    <option value="強">強</option> <!-- 修正強度選項的值 -->
                    <option value="中">中</option>
                    <option value="輕">輕</option>
                </select>
            </div>
            
            <div class="button-container">
                
                <button type="button" onclick="back()" class="back-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                    </svg>
                    回上頁
                </button>
                
                <button type="submit" class="tooltip-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
                        <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                    </svg>
                    <span class="completion-text">輸入完成</span>
                    <span class="tooltip-text">製作專屬菜單</span>
                    
                </button>
            </div>
        </form> <!-- 確保按鈕在 form 標籤內 -->
    </div>
</body>
</html>