<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <title>已開始計時</title>
  <link rel="stylesheet" type="text/css" href="/static/css/ranking-layout.css" />
  <style>
    body{
      background-color: #ffdee9;
      background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 50%, #ffffff 100%);
    }
  </style>
</head>

<body>
  <div class="header"> 
    <div class="headline">HARD WORKING</div>
  </div>
  <div class="container_time">
    <span class="myTime">
      Time = =
      00:00:00
    </span>
    <a href="ranking-list.html"
      class="end_btn">END</a>
  </div>
  <hr />
  <!--表格繪製-->
  <div class="wrap">
    <table>
      <tr>
        <th>排名</th>
        <th>姓名</th>
        <th>已訓練時長</th>
      </tr>
      <tr>
        <td>1</td>
        <td>td</td>
        <td>td</td>
      </tr>
      <tr>
        <td>2</td>
        <td>td</td>
        <td>td</td>
      </tr>
      <tr>
        <td>3</td>
        <td>td</td>
        <td>td</td>
      </tr>
      <tr>
        <td>4</td>
        <td>td</td>
        <td>td</td>
      </tr>
      <tr>
        <td>5</td>
        <td>td</td>
        <td>td</td>
      </tr>
      <tr>
        <td>6</td>
        <td>td</td>
        <td>td</td>
      </tr>
      <tr>
        <td>7</td>
        <td>td</td>
        <td>td</td>
      </tr>
      <tr>
        <td>8</td>
        <td>td</td>
        <td>td</td>
      </tr>
      <tr>
        <td>9</td>
        <td>td</td>
        <td>td</td>
      </tr>
      <tr>
        <td>10</td>
        <td>td</td>
        <td>td</td>
      </tr>
    </table>
</body>

</html>