<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkoutRecord</title>
    <link rel="stylesheet" type="text/css" href="/static/css/workout_record.css" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
        rel="stylesheet" />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


</head>

<body>
    <div class="header">
        <button onclick="back()" class="back-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
            回上頁
        </button>
        <div class="headline">W O R K O U T</div>
    </div>

    <div class="head">選擇日期：</div>
    <form action="/record/workout/search" method="POST">
        <div class="frame">
            <div class="input-group date" id='date1'>
                <input type="text" class="form-control" name="date" />
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
            <div>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </button>
            </div>
        </div>
    </form>

    <h1></h1>
    <table id="exercise-table">
        <thead>
            <tr>
                <th>器材</th>
                <th>目標</th>
                <th>訓練部位</th>
                <th>訓練動作</th>
                <th>磅數</th>
                <th>次數</th>
            </tr>
        </thead>
        <tbody id="table-body">
            {% if records %}
            {% for record in records %}
            <tr>
                <td>{{ record.Equipment_Name }}</td>
                <td>{{ record.Object }}</td>
                <td>{{ record.Training_Area }}</td>
                <td>{{ record.Training_Detail }}</td>
                <td>{{ record.Weight }}</td>
                <td>{{ record.Set }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="6">沒有數據</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <script>
        $('#date1').datetimepicker({
            date: null, //一開始輸入框的日期為空
            format: 'YYYY-MM-DD', //日期的顯示格式
            locale: moment.locale('zh-tw'), //國別
        });
        function back() {
            window.location.href = "/search";
        }

    </script>


    <img src="/static/loopy.png" alt="Description of image" class="top-left-image">
    <img src="/static/cabi.png" alt="Description of image" class="top-right-image">

</body>

</html>